<link rel="stylesheet" href="css/styles.css" />
<script type="text/javascript" src="lib/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="lib/underscore-min.js"></script>
<script type="text/javascript" src="lib/backbone-min.js"></script>

<!-- Templates -->
<script type="text/template" id="template-js-listview">
    <div id="template-js-listview-<%= uvid %>" class="template-js-listview">
		<ul id="template-js-listview-ul-<%= uvid %>" class="template-js-listview-ul" data-child-template="template-js-listviewitem">
		</ul>
		<div id="template-js-listview-container-<%= uvid %>" class="template-js-listview-container">
		</div>
	</div>
</script>

<script type="text/template" id="template-js-listviewitem">
	<li id=<%= id %> class="template-js-listview-li" ><%= title %></li>
</script>

<script type="text/template" id="template-js-tabview">
    <div id="template-js-tabview-<%= uvid %>" class="template-js-tabview">
		<ul id="template-js-tabview-ul-<%= uvid %>" class="template-js-tabview-ul" data-child-template="template-js-tabviewitem">
		</ul>
		<div id="template-js-tabview-container-<%= uvid %>" class="template-js-tabview-container">
		</div>
	</div>
</script>

<script type="text/template" id="template-js-tabviewitem">
	<li id=<%= id %> class="template-js-tabview-li" ><%= title %></li>
</script>

<script type="text/template" id="template-js-stubview">
	<div id="template-js-stubview-<%= uvid %>"></div>
</script>
